nav{
	background-color: #2b2727;
	min-height: 80px;
	width: 100%;
	border-bottom: 5px solid #ccc;
}
nav .navbar-nav li a{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
	color: #fff;
	font-size: 20px;
}
nav .navbar-nav li a:hover{
	background: #337ab7;
	color: #fff;
	font-size: 20px;
	padding-bottom: 25px !important;
	border-bottom: 5px solid #ccc;
}